#main {
  background-color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 80%;
  height: auto;
  text-align: center;
  border-radius: 20px;
}
#main_img {
  max-width: 80%;
  height: auto;
}

.title-start {
  height: 10vh;
}
