article {
  display: flex;
  flex-direction: column;
}
#qna {
  display: none;
}
.result {
  display: none;
}

.share {
  margin: 0 auto;
}
.kakao_ad {
  width: 320px;
  margin: 0 auto;
}
.banner {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}
.banner-img {
  width: 300px;
}
ul {
  list-style: none;
}
body {
  padding: 0;
  margin: 0;
}
